{% extends 'base.html' %}

{% block content %}
<div style="font-family: Poppins;font-size: small !important;" class="content-wrapper">
  <section class="content">
    <div class="container-fluid p-5">
      {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show bg-success" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-12 px-0">
        <h4 class="display-5 fst-italic">Intelligence Tutoring Expert System (ITES)</h4>
        <p class="lead my-3">
          We offer an Intelligent Tutoring Expert System (ITES) that is a sophisticated software system designed to simulate the functions of a human tutor to learners. 
        </p>
      </div>
    </div>
    
      {% for post in posts%}
      <article class="blog-post">
          <h2 class="blog-post-title mb-1">{{post.title}}</h2>
          <p class="blog-post-meta">{{post.created_at}} <a href="#">{{Post.author}}</a></p>
        
          <p>
            {{post.body|truncatewords:30}}
          </p>
          <hr />
        </article>
        
      {% endfor %}
      </div>
    </section>
  </div>
{% endblock content %}
