{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Procurement System</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/img/CimasLogos.svg' %}">

  {% include 'css_supplier_login.html' %}
  </head>
  <body class="hold-transition login-page">
    
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
{% endfor %}


  {% block content %}

  {% endblock %}
  <!-- /.login-box -->
  {% include 'javascript_supplier_login.html' %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function(){
        // Close alert message when close button is clicked
        $(".alert .close").on("click", function(){
            $(this).closest(".alert").slideUp(500, function(){
                $(this).remove();
            });
        });
    });
    
</script>

</body>
</html>