{% extends 'base.html' %}

{% block content %}
{% include "css_datatables.html" %}

<div style="font-family: Poppins;font-size:  small !important;" class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li class="message {% if message.tags %} {{ message.tags }}{% endif %}">
              <span class="message-content">{{ message }}</span>
              <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
            <div class="row p-3">
                <div class="col-sm col-md col-lg">
                    <h6 class="py-2">Request For Quotations</h6>
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group input-group-sm">
                                <a style="font-size:  small !important;" href="#"
                                    class="btn btn-primary d-block">
                                    <i class="bi bi-plus-circle"></i>
                                    Create Request For Quotation
                                </a>
                            </div>
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Questions Answered</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Quiz</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Assessment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Restart Quiz</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#">Something</a>
                                  </li>
                                <li class="nav-item">
                                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li>
                              </ul>
                        </div>
                        <div class="card-body">
                          <ul style="font-size: small !important;" class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if filter_param == 'CREATED' %}active{% endif %}" id="tab-awaiting-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab-awaiting" type="button" role="tab"
                                    aria-controls="tab-awaiting" aria-selected="false"
                                    onclick="window.location.href = '?status=CREATED'">Questions Answered</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if filter_param == 'PUBLISHED' %}active{% endif %}" id="tab-published-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab-published" type="button" role="tab"
                                    aria-controls="tab-published" aria-selected="false"
                                    onclick="window.location.href = '?status=PUBLISHED'">Quiz</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if filter_param == 'COMPARE_QUOTATIONS' %}active{% endif %}" id="tab-comparison-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab-comparison" type="button" role="tab"
                                    aria-controls="tab-comparison" aria-selected="false"
                                    onclick="window.location.href = '?status=COMPARE_QUOTATIONS'">Assessment</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link {% if filter_param == 'INCOMPLETE' %}active{% endif %}" id="tab-comparison-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab-comparison" type="button" role="tab"
                                    aria-controls="tab-comparison" aria-selected="false"
                                    onclick="window.location.href = '?status=INCOMPLETE'">Resolve</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if filter_param == 'AWARD_PENDING' %}active{% endif %}" id="tab-tenderapproval-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab-tenderapproval" type="button" role="tab"
                                    aria-controls="tab-tenderapproval" aria-selected="false"
                                    onclick="window.location.href = '?status=AWARD_PENDING'">Awaiting Approval</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if filter_param == 'CLOSED' %}active{% endif %}" id="tab-closed-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab-closed" type="button" role="tab" aria-controls="tab-closed"
                                    aria-selected="false"
                                    onclick="window.location.href = '?status=CLOSED'">Closed</button>
                            </li> -->
                            <!-- right  search-->
                            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                                <li class="nav-item">
                                    <form method="GET" class="form-inline">
                                    
                                        <div class="input-group">
                                            <input type="text" name="search_query_data" class="form-control" placeholder="Enter title or rfq number here...">
                                            <div class="input-group-append">
                                                <button class="form-control btn btn-outline-secondary" type="submit">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </ul>
                            <div class="tab-content py-4" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-awaiting" role="tabpanel"
                                    aria-labelledby="tab-awaiting-tab">
                                    <table id="dataTable1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Date of Creation</th>
                                                <th>Date of Expiry</th>
                                                <th>Created by</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for rfq in data %}
                                            <tr class="tr" >
                                              <td>
                                                {% if rfq.status == "CREATED" or rfq.status == "COMPARE_QUOTATIONS" or rfq.status == "CLOSED" or rfq.status == "AWARD_PENDING" or rfq.status == "INCOMPLETE"%}
                                                <a href="{% url 'preview' rfq.rfq_id %}">{{rfq.rfq_id}}</a>
                                              {% else %}
                                              {{rfq.rfq_id}}
                                              {% endif %}
                                                </td>
                                                <td>{{rfq.title}}</td>
                                                <td>{{rfq.start_date}}</td>
                                                <td><span class="tag tag-success">{{rfq.end_date}}</span></td>
                                                <td>{{rfq.user.name}} {{rfq.user.surname}}</td>
                                                <td>
                                                  <span class="badge bg-primary items">
                                                    <a data-toggle="modal" class="show-items-btn" title="RFQ information" data-rfq-id="{{ rfq.rfq_id }}">View</a>
                                                  </span>
                                                      
                                                {% if "CREATE_RFQ" in user_roles and rfq.status == "PUBLISHED" %}
                                                    <span class="badge bg-warning">
                                                        <a href="{% url 'edit' rfq.rfq_id %}">Edit</a>
                                                    </span>
                                                {% elif "APPROVE_RFQ" in user_roles and rfq.status == "CREATED" %}
                                                    <span class="badge bg-success"><a href="{% url 'approve_justification' rfq.rfq_id %}">Approve</a></span>
                                                {% endif %}
                                                </td>
                                                 
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="text-muted fw-normal">
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>Date of Creation</th>
                                                <th>Date of Expiry</th>
                                                <th>Created by</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="text-center">
                                      <ul class="pagination px-3">
                                          {% if data.has_previous %}
                                              <li><a class="btn-primary" href="?page=1&filter_param={{filter_param}}">&laquo; First</a>&nbsp;</li>
                                              <li><a class="btn-primary" href="?page={{ data.previous_page_number }}&filter_param={{filter_param}}">Previous</a>&nbsp;</li>
                                          {% endif %}
                                          <!-- {% for num in data.paginator.page_range %}
                                              <li class="{% if num == data.number %}active{% endif %}">
                                                  <a href="?page={{ num }}&filter_param={{filter_param}}">{{ num }}</a>&nbsp;
                                              </li>
                                          {% endfor %} -->
                                          {% if data.has_next %}
                                              <li><a class="btn-primary" href="?page={{ data.next_page_number }}&filter_param={{filter_param}}" style="font-size:  small !important;">Next</a></li>&nbsp;
                                              <li><a class="btn-primary" href="?page={{ data.paginator.num_pages }}&filter_param={{filter_param}}" style="font-size:  small !important;">Last &raquo;</a></li>
                                          {% endif %}
                                      </ul>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    
                </div>
                
                <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">RFQ Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                                <div class="container-fluid">
                                    <form method="post" action="#" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" class="form-control form-control-sm" id="title"
                                                    name="title" value="" readonly><br>

                                                <label for="category" class="form-label">Category</label>
                                                <input type="text" class="form-control form-control-sm" id="category"
                                                    name="category" value="" readonly><br>

                                            </div>
                                            <div class="col">
                                                <label for="approver" class="form-label">Approver</label>
                                                <input type="text" class="form-control form-control-sm" id="approver"
                                                    name="description" value="" readonly><br>
                                                <label for="end" class="form-label">End Date</label>
                                                <input type="text" class="form-control form-control-sm" id="end"
                                                    name="end" value="" readonly><br>
                                            </div>
                                        </div>

                                </div>
                                </form>
                                <div id="itemsList">
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- The Modals -->
                <!-- ##### for suppliers after item is clicked ##### -->
                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="suppliersModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="suppliersModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Item Toyota</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="#" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <table class="table table-hover text-nowrap table-responsive p-0" id="table1">
                                        <thead>
                                            <tr class="tr">
                                                <th>Supplier ID</th>
                                                <th>Quotation</th>
                                                <th>Choice</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% comment %}
                                            {% for rfq in rfqs %}
                                            {% if not rfq.published and not rfq.deleted %}
                                            {% endcomment %}


                                            <tr class="tr">
                                                <td>Splr 1</td>
                                                <td>PDF</td>
                                                <td><input type="radio" name="choice" value="Splr 1" /></td>
                                            </tr>
                                            <tr class="tr">
                                                <td>Splr 3</td>
                                                <td>PDF</td>
                                                <td><input type="radio" name="choice" value="Splr 3" /></td>
                                            </tr>
                                            {% comment %}
                                            {% endif %}
                                            {% endfor %}
                                            {% endcomment %}



                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class=" close btn btn-secondary form-control-sm"
                                        data-dismiss="modal">Close</button> -->
                                    <button type="submit" class="btn btn-primary form-control-sm">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- disapproval modal -->
<div class="modal fade" id="disapprovalModal" tabindex="-1" role="dialog" aria-labelledby="disapprovalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disapprovalModalLongTitle">Reason for Disapproval </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="#" enctype="multipart/form-data">
        {% csrf_token %}  
        <div class="modal-body">
          <div id="formContainer">            
          </div>
          <div class="p-2" id="reason" >
            <textarea class="form-control" name="reason" rows="3" placeholder="Enter a reason" required ></textarea>
          </div>
          
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="close btn btn-secondary form-control-sm" data-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary form-control-sm">Submit</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% include "javascript_datatables.html" %}
{% endblock %}