{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div style="font-family: Poppins;font-size: small !important;" class="content-wrapper">
    <section class="content">
        <div class="container-fluid p-5">
            <div class="col-3"></div>
            <div class="col-6">
                <h1> Reset Your Password</h1>
                <p>Provide Email Address associated with Your Account</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <input type="submit" value="Reset Password" class="btn btn-primary" />

                </form>
                <br />
                <br />
            </div>
        </div>
    </section>
</div>

{% endblock content %}